body {
    background-color: #97c1b0;
    margin: 25px;
}

.card {
    background-color: #1a4158;
    color: #2ef338;
}

.card-subtitle {
    color: #97b1c0;
}

p.card-text {
    text-align: right;
    color: #166c9e;
}
