body {
    background-color: #97c1b0;
    margin: 25px;
}

a {
    color: black;
    text-decoration: none;
}

.al-ce {
    margin-top: 15px;
    width: 50%;
    align-self: center;
    text-align: center;
    background-color: #77af99;
}
